[project]
name = ""
version = ""
description = ""
authors = [
    {name = "laike9m", email = "laike9m@gmail.com"},
]
dependencies = [
    "mypy>=1.6.1",
    "flask>=3.0.0",
    "gunicorn>=21.2.0",
    "typing-extensions>=4.8.0",
]
requires-python = ">=3.12"
readme = "README.md"
license = {text = "MIT"}

[tool.pdm]
plugins = ["pdm-autoexport"]

[tool.pdm.scripts]
devserver = "flask --app app run --debug"

[[tool.pdm.autoexport]]
filename = "requirements.txt"
groups = ["default"]
without-hashes = true

[tool.pyright]
venvPath = "."
venv = ".venv"
pythonVersion = "3.12"

[tool.mypy]
check_untyped_defs = true
warn_no_return = false
