[project]
name = ""
version = ""
description = ""
authors = [
    {name = "laike9m", email = "laike9m@gmail.com"},
]
dependencies = [
    "mypy>=1.6.1",
    "flask>=3.0.0",
    "libcst>=1.1.0",
    "gunicorn>=21.2.0",
]
requires-python = ">=3.12"
readme = "README.md"
license = {text = "MIT"}

[tool.pdm.scripts]
devserver = "flask --app app run --debug"

[tool.pyright]
venvPath = "."
venv = ".venv"
