<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8">
    {% set title = "Python Type Challenges - Learn & Master Type Hints" %}
    {% set description = "Learn Python typing (type hints) with interactive online exercises!" %}
    {% block head %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Open Graph  -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://python-type-challenges.zeabur.app/" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="https://github.com/laike9m/images/assets/2592205/11e7cb79-caad-4be4-8b15-2732cbc698f3" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://python-type-challenges.zeabur.app/" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:description" content="{{description}}" />
    <meta name="twitter:image" content="https://github.com/laike9m/images/assets/2592205/2012b6cc-7748-4708-b5aa-671dc27cfc18" />
    <meta name="twitter:creator" content="@laike9m" />
    <meta name="twitter:site" content="@laike9m" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/picocss/1.5.10/pico.min.css">
    <style type="text/css">
    /* override some style in picocss */
      h1, h2, h3, h4, h5, h6,
      p {
        margin-bottom: 0;
      }
    </style>
  </head>

  <body>
    {% include 'components/github_ribbon.html' %}
    {% block content %}{% endblock %}
  </body>

</html>
