{% extends "base.html" %}

{% block head %}
  {{ super() }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/codemirror.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/mode/python/python.min.js"></script>
  <title>Python Type Challenge - {{ name }}</title>

  <style type="text/css">
    .container {
      display: flex;
      padding: 1rem 2rem;
      justify-content: center;
      max-height: 100vh;
      margin: 0 auto;
      max-width: calc(100% * 11/12);
    }

    .sidebar-container {
      display: flex;
      flex-direction: column;
      margin-right: 2rem;
    }

    .sidebar-container .sidebar-challenge-list {
      overflow-y: auto;
      height: 100%;
      max-width: fit-content;
    }

    .sidebar-container .sidebar-actions {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 8px;
      padding-top: 8px;
      border-top: 1px solid hsl(205, 20%, 94%);
    }

    .challenge-area {
      display: flex;
      flex-direction: column;
      max-width: 50%;
    }

    .codemirror-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    #run-button {
      align-self: flex-end;
      width: 100px;
      padding: 2px 4px;
      border-radius: 4px;
    }

    .result-container {
      display: flex;
      justify-content: start;
      margin-top: 20px;
    }

    /* 当视口宽度小于 800px 时，更改布局为单列 */
    @media only screen and (max-width: 800px) {
      .container {
        flex-direction: column;
        align-items: center;
      }

      .sidebar-container {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }

    .CodeMirror {
      height: auto;
      border: 2px solid orange;
    }

    .CodeMirror.CodeMirror-focused {
      border: 2px solid blue;
    }

  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <!-- Left Sidebar -->
    <div class="sidebar-container">
      <div class="sidebar-challenge-list">
        {% include 'components/challenge_list.html' %}
      </div>
      <div class="sidebar-actions">
        {% include 'components/darkmode.html' %}
      </div>
    </div>

    <div class="challenge-area">
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <h2>Challenge - {{name}}</h2>
        <p>Python version: {{ python_info }}</p>
      </div>
      <p style="margin-top: 0; line-height: 1.5">
        Complete code following the instructions below, so that there are no type errors
        throughout the test code except for those lines followed by a <code># expect-type-error</code> comment.
        You don't need to implement the function, just add type annotations.
        Hit the "Run" button to see result.
      </p>
      <div class="codemirror-container">
        <div id="editor"></div>
        <button id="run-button">
          ▶️ Run
        </button>
        <h3>Test cases</h3>
        <div id="tests"></div>
      </div>
      <div class="result-container">
        <p id="result" style="white-space: pre-line"></p>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    let codeMirrorShared = {
      mode: "python",
      lineWrapping: true,
      lineNumbers: true,
    }
    let code_under_test = {{ code_under_test | tojson }};
    let myCodeMirror = CodeMirror(document.getElementById("editor"), {
      value: code_under_test,
      ...codeMirrorShared,
    });
    let test_code = {{ test_code | tojson }};
    CodeMirror(document.getElementById("tests"), {
      value: test_code,
      readOnly: "nocursor",
      ...codeMirrorShared,
    });

    let runButton = document.getElementById('run-button')
    runButton.onclick = function () {
      // set button spinner
      let rawInnerText = runButton.innerText;
      runButton.ariaBusy = true;
      runButton.innerText = ""

      let code = myCodeMirror.getValue();
      fetch('/run/{{name}}', {
        method: 'POST',
        body: code
      })
        .then(response => response.text())
        .then(result => document.getElementById("result").innerHTML = result)
        .catch((error) => {
          console.error('Error:', error);
        })
        .finally(() => {
          // reset button spinner
          runButton.ariaBusy = false;
          runButton.innerText = rawInnerText;
        });
    };

    // If window size is > 800, expand the challenge list.
    function checkWidth() {
      let detailsElement = document.getElementById('challenge-list');
      if (window.innerWidth < 800) {
        detailsElement.removeAttribute('open');
      } else {
        detailsElement.setAttribute('open', '');
      }
    }
    checkWidth();  // Check the width initially
    window.addEventListener('resize', checkWidth);
  </script>
{% endblock %}