{% extends "base.html" %}

{% set title = "Python Type Challenges - " ~ name %}
{% block head %}
  {{ super() }}

  <title>Python Type Challenge - Level: {{level}}, Topic: {{name}}</title>
  <meta name="description" content="{{description}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/codemirror.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/theme/material-darker.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/mode/python/python.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.5.0/lz-string.min.js"></script>
  <script src="{{ url_for('static', filename='js/js-confetti.browser.js')}}"></script>

  <style type="text/css">
    .challenge-container {
      display: flex;
      height: 100dvh;
    }

    /* Sidebar Area */
    .sidebar-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 12px;
      border-right: 1px solid hsl(205, 20%, 94%);
    }

    .sidebar-container .sidebar-challenge-main {
      overflow-y: auto;
      padding-left: 8px;
      padding-right: 8px;
      width: 15vw;
    }

    .sidebar-container .sidebar-actions {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: 8px;
      padding-top: 8px;
      border-top: 1px solid hsl(205, 20%, 94%);
      width: 100%;
    }

    /* Challenge Area */
    .challenge-area {
      display: flex;
      flex-direction: column;
      margin: 0 2rem;
      width: 100%;
    }

    .challenge-header__title {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      margin-top: 8px;
    }

    .challenge-header__title>span:nth-child(1) {
      font-size: 35px;
      font-weight: 700;
      margin-right: 20px;
    }

    .challenge-header__exerpt {
      margin-bottom: 0.2rem;
      line-height: 1.5;
    }

    /* Hints styles */
    .hints-container {
      margin-bottom: 1.5rem;
      font-size: 13px;
    }
    .hints-container #read-hints {
      padding: 0.2em 0.8em;
      font-size: 13px;
    }
    .hints-container #hints-missing {
      margin-top: 0.8em;
      /* The "secondary" style comes from https://picocss.com/docs/buttons.html */
      color: var(--secondary);
    }
    .hints-container .hints-message {
      display: none;
      margin-top: 0.5em;
      margin-bottom: 0;
      padding: 0.75em 1em;
      font-size: 13px;
    }
    html[data-theme='light'] .hints-container .hints-message {
      box-shadow: none;
      background-color: #f4f4f4;
    }
    .hints-container .hints-message * {
      font-size: 13px;
    }
    .hints-container .hints-message ul {
      margin-bottom: 0;
    }
    .challenge-main {
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }

    /* Code Editor Area */
    .challenge-main .codemirror-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 50%;
    }

    #editor {
      position: relative;
    }

    #playground-link {
      display: flex;
      place-items: center;
      gap: 2px;
      position: absolute;
      top: 3px;
      right: 3px;
      padding: 5px;
      /* The "secondary" style comes from https://picocss.com/docs/buttons.html */
      background: var(--secondary);
      color: var(--secondary-inverse);
      border-bottom-left-radius: 5px;
      font-size: 12px;
      text-decoration: none;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    #editor:hover #playground-link {
      opacity: 1;
    }

    .editor-actions {
      display: flex;
      justify-content: flex-end;
      align-self: flex-end;
      gap: 8px;
    }

    .editor-actions button {
      padding: 2px 4px;
      border-radius: 4px;
      width: 100px;
    }

    #answer-link {
      display: none;
      padding: 2px 4px;
      margin-right: 10px;
    }

    .tests-result-container {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 16px;
    }

    .tests-result-container #result {
      white-space: pre-line
    }

    /* 当视口宽度小于 800px 时，更改布局为单列 */
    @media only screen and (max-width: 800px) {
      .challenge-container {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        height: 100%;
        padding: 8px 12px;
      }

      .sidebar-container {
        margin-right: 0;
        flex-direction: row;
        width: 100%;
        border-right: 0px;
        gap: 4px;
        padding: 0;
      }

      .sidebar-container .sidebar-challenge-main {
        height: 100%;
        padding-left: 0px;
        margin-right: auto;
        width: auto;
      }

      .sidebar-container .sidebar-actions {
        margin-top: 0px;
        padding-top: 0px;
        border-top: 0px;
        width: initial;
        gap: 8px;
      }

      .challenge-header__title {
        font-size: 14px;
        flex-wrap: wrap;
      }

      .challenge-header__title>span:nth-child(1) {
        width: 100%;
        font-size: 32px;
        margin-bottom: 8px;
      }

      .challenge-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
      }

      .challenge-main .codemirror-container,
      .challenge-main .tests-result-container {
        width: 100%;
      }
    }

    .active-challenge {
      background-color: var(--primary-focus);
      border-radius: 8px;
    }

    .CodeMirror {
      height: auto;
      border: 2px solid orange;
      font-size: 16px;
    }

    .CodeMirror.CodeMirror-focused {
      border: 2px solid blue;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="challenge-container">
    <!-- Left/Top Sidebar -->
    <div class="sidebar-container">
      <div class="sidebar-challenge-main">
        {% include 'components/challenge_sidebar.html' with context %}
      </div>
      <div class="sidebar-actions">
        {% include 'components/github_icon.html' %}
        {% include 'components/darkmode.html' %}
        {% include 'components/randomizer.html' %}
      </div>
    </div>

    <!-- Right/Bottom Challenge Area-->
    <div class="challenge-area">
      {% include "components/challenge_area.html" %}
    </div>
  </div>

{% endblock %}
