<details id="challenge-list" open="true">
  <summary>Challenges</summary>
  <ol style="padding-left: 20px; list-style: none; line-height: 1.2">
    <b>Basic</b>
    {% for challenge in challenge_names | selectattr("difficulty", "equalto",
    "basic") %}
    <li><a href="/challenges/{{ challenge.name }}">{{ challenge.name }}</a></li>
    {% endfor %}
    <br />
    <b>Intermediate</b>
    {% for challenge in challenge_names | selectattr("difficulty", "equalto",
    "intermediate") %}
    <li><a href="/challenges/{{ challenge.name }}">{{ challenge.name }}</a></li>
    {% endfor %}
    <br />
    <b>Advanced</b>
    {% for challenge in challenge_names | selectattr("difficulty", "equalto",
    "advanced") %}
    <li><a href="/challenges/{{ challenge.name }}">{{ challenge.name }}</a></li>
    {% endfor %}
  </ol>
</details>
