{% extends "base.html" %}

{% block head %}
  {{ super() }}

  <title>Python Type Challenge - Level: {{level}}, Topic: {{name}}</title>
  <meta name="description" content="Join Python Type Challenges to learn and master Python typing (type hints) with our comprehensive and interactive exercises.">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/codemirror.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/theme/material-darker.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.15/mode/python/python.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.5.0/lz-string.min.js"></script>
  <script src="{{ url_for('static', filename='js/js-confetti.browser.js')}}"></script>

  <style type="text/css">
    .challenge-container {
      display: flex;
      padding: 1rem 2rem;
      max-height: 100vh;
      width: max(95vw, 95%);
    }

    /* Sidebar Area */
    .sidebar-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 2rem;
    }

    .sidebar-container .sidebar-challenge-list {
      overflow-y: auto;
      max-width: fit-content;
      min-width: 100px;
    }

    .sidebar-container .sidebar-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 8px;
      padding-top: 8px;
      border-top: 1px solid hsl(205, 20%, 94%);
      width: 100%;
    }

    /* Challenge Area */
    .challenge-area {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .challenge-header__title {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
    }

    .challenge-header__title>span:nth-child(1) {
      font-size: 30px;
      font-weight: bold;
      margin-right: 20px;
    }

    .challenge-header__exerpt {
      margin-bottom: 1.5rem;
      line-height: 1.5;
    }

    .challenge-main {
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }

    /* Code Editor Area */
    .challenge-main .codemirror-container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 50%;
    }

    #editor {
      position: relative;
    }

    #playground-link {
      position: absolute;
      top: 3px;
      right: 3px;
      padding: 5px;
      /* The "secondary" style comes from https://picocss.com/docs/buttons.html */
      background: var(--secondary);
      color: var(--secondary-inverse);
      border-bottom-left-radius: 5px;
      font-size: 12px;
      text-decoration: none;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
    }

    #editor:hover #playground-link {
      opacity: 1;
    }

    .editor-actions {
      display: flex;
      justify-content: flex-end;
      align-self: flex-end;
      gap: 8px;
    }

    .editor-actions button {
      padding: 2px 4px;
      border-radius: 4px;
      width: 100px;
    }

    .tests-result-container {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 16px;
    }

    .tests-result-container #result {
      white-space: pre-line
    }

    /* 当视口宽度小于 800px 时，更改布局为单列 */
    @media only screen and (max-width: 800px) {
      .challenge-container {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        height: 100%;
        width: 100%;
      }

      .sidebar-container {
        overflow-y: auto;
        margin-right: 0;
        margin-bottom: 2rem;
        min-height: 100px;
      }

      .sidebar-container .sidebar-challenge-list {
        height: 100%;
      }

      .challenge-header__title {
        font-size: 14px;
        flex-wrap: wrap;
      }

      .challenge-header__title>span:nth-child(1) {
        width: 100%;
        font-size: 20px;
        margin-bottom: 8px;
      }

      .challenge-main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
      }

      .challenge-main .codemirror-container,
      .challenge-main .tests-result-container {
        width: 100%;
      }
    }

    .CodeMirror {
      height: auto;
      border: 2px solid orange;
      font-size: 16px;
    }

    .CodeMirror.CodeMirror-focused {
      border: 2px solid blue;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="challenge-container container-fluid">
    <!-- Left/Top Sidebar -->
    <div class="sidebar-container">
      <div class="sidebar-challenge-list">
        {% include 'components/challenge_list.html' %}
      </div>
      <div class="sidebar-actions">
        {% include 'components/darkmode.html' %}
      </div>
    </div>

    <!-- Right/Bottom Challenge Area-->
    <div class="challenge-area">
      <!-- Challenge Header Area-->
      <div class="challenge-header">
        <div class="challenge-header__title">
          <span>Challenge - {{ name }}</span>
          {%include 'components/badge.html' with context %}
        </div>
        <p class="challenge-header__exerpt">
          Complete code on the left side following the instructions.<br>
          Right side is test code, lines followed by <code># expect-type-error</code>
          should fail type check, others should pass.<br>
          Hit the "▶️ Run" button to see result.
        </p>
      </div>

      <div class="challenge-main">
        <!-- Code Editor Area -->
        <div class="codemirror-container">
          <div id="editor">
            <a id="playground-link" target="_blank" rel="noopener noreferrer">
              Open Pyright Playground
            </a>
          </div>
          <div class="editor-actions">
            <button id="reset-button" class="secondary">
              Reset
            </button>
            <button id="run-button">
              ▶️ Run
            </button>
          </div>
        </div>
        <!-- Test Cases and Result Area -->
        <div class="tests-result-container">
          <div id="tests"></div>
          <div id="result"></div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    let confetti = new JSConfetti();
    let initTheme = localStorage.getItem('theme') === 'dark' ? "material-darker" : "default"
    let sharedCodeMirrorOptions = {
      mode: "python",
      lineWrapping: true,
      lineNumbers: true,
      indentUnit: 4,
      theme: initTheme,
    }
    let code_under_test = {{ code_under_test | tojson }};
    let myCodeMirror = CodeMirror(document.getElementById("editor"), {
      value: code_under_test,
      ...sharedCodeMirrorOptions,
    });
    let test_code = {{ test_code | tojson }};
    let testCodeMirror = CodeMirror(document.getElementById("tests"), {
      value: test_code,
      readOnly: "nocursor",
      ...sharedCodeMirrorOptions,
    });

    let playgroundLink = document.getElementById("playground-link");
    playgroundLink.addEventListener('click', function (event) {
      const code = myCodeMirror.getValue() + testCodeMirror.getValue();
      this.href = "https://pyright-play.net/?code=" + LZString.compressToEncodedURIComponent(code);
    });

    window.addEventListener('themeSwitch', function (event) {
      let theme = localStorage.getItem('theme') === 'dark' ? "material-darker" : "default"
      myCodeMirror.setOption("theme", theme);
      testCodeMirror.setOption("theme", theme);
    })

    let runButton = document.getElementById('run-button')
    runButton.onclick = function () {
      // set button spinner
      let rawInnerText = runButton.innerText;
      runButton.ariaBusy = true;
      runButton.innerText = ""

      let code = myCodeMirror.getValue();
      fetch('/run/{{level}}/{{name}}', {
        method: 'POST',
        body: code
      })
        .then(response => response.json())
        .then(json => {
          // add confetti effect when passed
          if (json.passed) {
            confetti.addConfetti()
          }
          document.getElementById("result").innerHTML = json.message;
        })
        .catch((error) => {
          console.error('Error:', error);
        })
        .finally(() => {
          // reset button spinner
          runButton.ariaBusy = false;
          runButton.innerText = rawInnerText;
        });
    };

    let resetButton = document.getElementById('reset-button')
    resetButton.onclick = function () {
      myCodeMirror.setValue(code_under_test);
    };

    // If window size is > 800, expand the challenge list.
    function checkWidth() {
      let detailsElement = document.getElementById('challenge-list');
      if (window.innerWidth < 800) {
        detailsElement.removeAttribute('open');
      } else {
        detailsElement.setAttribute('open', '');
      }
    }
    checkWidth();  // Check the width initially
    window.addEventListener('resize', checkWidth);
  </script>
{% endblock %}
