{% extends "base.html" %}
{% block head %}
  {{ super() }}

  <title>Python Type Challenges</title>
  <style type="text/css">

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px auto;
    }

    .title {
      text-align: center;
      margin-bottom: 1.5rem;
    }
  </style>
{% endblock %}
{% block content %}
  <div class="container">
    <h1 class="title">Welcome to Python Type Challenges!</h1>
    {% include 'components/challenge_list.html' %}
  </div>
{% endblock %}
