<style>
  #challenge-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  #challenge-list ol {
    padding-left: 20px;
    list-style: none;
    line-height: 1.2;
  }

  #challenge-list ol li {
    padding-left: 10px;
  }
</style>


<details id="challenge-list" open="true">
  <summary>Challenges</summary>
  <ol>
    <strong>Basic</strong>
    {% for challenge in challenge_names | selectattr("difficulty", "equalto",
    "basic") %}
    <li><a href="/challenges/{{ challenge.name }}">{{ challenge.name }}</a></li>
    {% endfor %}

    <br />

    <strong>Intermediate</strong>
    {% for challenge in challenge_names | selectattr("difficulty", "equalto",
    "intermediate") %}
    <li><a href="/challenges/{{ challenge.name }}">{{ challenge.name }}</a></li>
    {% endfor %}

    <br />

    <strong>Advanced</strong>
    {% for challenge in challenge_names | selectattr("difficulty", "equalto",
    "advanced") %}
    <li><a href="/challenges/{{ challenge.name }}">{{ challenge.name }}</a></li>
    {% endfor %}

    <br />
    <b>Extreme</b>
    {% for challenge in challenge_names | selectattr("difficulty", "equalto",
    "extreme") %}
    <li><a href="/challenges/{{ challenge.name }}">{{ challenge.name }}</a></li>
    {% endfor %}
  </ol>
</details>