<style>
  #challenge-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    border-bottom: 0;
    padding: 0 8px;
  }

  #challenge-list ol {
    list-style: none;
    line-height: 1.2;
    padding-left: 10px;
  }

  #challenge-list strong {
    line-height: 1.5;
  }

  /* Add a padding before the first challenge of each level */
  #challenge-list strong + li {
    padding-top: 5px;
  }
</style>
<details id="challenge-list" open="true">
  <summary>Challenges</summary>
  <ol>
    <strong>Basic</strong>
    {% for challenge in challenges_groupby_level["basic"] %}
      <li><a href="/challenges/basic/{{ challenge }}">{{ challenge }}</a></li>
    {% endfor %}

    <strong>Intermediate</strong>
    {% for challenge in challenges_groupby_level["intermediate"] %}
      <li><a href="/challenges/intermediate/{{ challenge }}">{{ challenge }}</a></li>
    {% endfor %}

    <strong>Advanced</strong>
    {% for challenge in challenges_groupby_level["advanced"] %}
      <li><a href="/challenges/advanced/{{ challenge }}">{{ challenge }}</a></li>
    {% endfor %}

    <b>Extreme</b>
    {% for challenge in challenges_groupby_level["extreme"] %}
      <li><a href="/challenges/extreme/{{ challenge }}">{{ challenge }}</a></li>
    {% endfor %}
  </ol>
</details>
